.header 
  text-align: center
  h1, h2 
    margin-bottom: 2em
    line-height: 1.2
  .title 
    a
      color:#cc0000
      text-decoration: none
      font: 300 3rem Serif
      transition: .3s
      &:hover
        color: #bbb
    
  .desc
      margin:.5em 0 .25em
      font: 18px Sans-Serif
      color: #bbb

  .ipad-menu
    display: none
    position: fixed
    top: 4em
    left: -1px

  .mobile-menu
    display: none
    position: fixed
    top: 0
    left: 0
    width: calc(100% - 3em)
    padding: 0 1.5em
    height: 3em
    z-index: 1
    // box-shadow: 0px 1px 5px #ddd
    h3
      a
        color:#b30000
        text-decoration: none
        font: 300 1.6rem Serif
        letter-spacing: -3px
        text-shadow: 1px 1px 2px #ddd;

  .menu
    padding-right: 0
    border: none
    outline: none
    background: transparent
    color: #b30000
    text-shadow: 1px 1px 2px #ddd;
    // text-transform: upperCase
          
    // &::before 
    //   content: '◈'
    //   display: inline-block
    //   margin-right: 3px

    // &:focus, &:active
    //   background: #cc0000
    //   outline: 3px solid #cc0000

@media screen and (max-width: 1015px)
  .header
    .ipad-menu
      display: block
      text-decoration: underline

@media screen and (max-width: 640px) 
  .header 
    .title 
      a
        font-size: 2.5rem

    .ipad-menu
      display: none

    .mobile-menu 
      display: flex
      justify-content: space-between
      align-items: center

      .menu
        font: 500 1.4em Serif

      
      
