.post
  position: relative
  border: 1px solid transparent
  border-image: linear-gradient(to right, transparent 30%, #cc0000,transparent 70%) 0 0 1 0 ;
  margin: 0 1em 2em
  padding: 0 0 1em
  
  .post-cat
    display: inline-block
    margin: 0 0 0 5px
    &:before
       content: "/"
       color: #777
    &:last-of-type::after 
      content: ''     
    a
      font: 300 13px Sans-Serif
      color: #777
      text-decoration: none
      transition: .3s
      &:hover
        color: #cc0000

  .post-tag
    display: inline-block
    margin: 0 0 0 5px
    &:before
      content: "#"
      color: #777
    &:last-of-type::after 
      content: ''
    a
      font: 300 13px Sans-Serif
      color: #777
      text-decoration: none
      transition: .3s
      &:hover
        color: #cc0000

  .post-title
    margin: 0
    font: 400 1.6em Sans-Serif 
    color: #222
    a
      color: #222
      text-decoration: none    

  .post-date
    padding: 5px
    margin:0
    color: #777
    font: 300 12px/1.6 Sans-Serif
    letter-spacing: 1px

  .post-cover
    position: relative
    user-select: none
    &:after
      position: absolute
      content: ''
      width: 82%
      height: 100%
      top: 0
      left: 50%
      transform: translateX(-50%)
      box-shadow:0 0 40px 10px #ffffff inset
    img
      max-width: 80%
      border-radius: 10px

  .post-content
    position: relative
    color: #111
    font-size: 1rem
    line-height: 1.6
    margin: 1.5em 0 0 0
    text-align: left
    a
      color:#111
      text-decoration: underline #a0C8C2
    a.more-link
      color: #222
      font-family: Sans-Serif
      font-weight: 400
      display: block
      width: 100%
      text-align: left
      text-decoration: none
      transition: .5s
      &:hover
        color: #cc0000
    img
      max-width: 100%
      border-radius: 4px
